
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .card {
    border: 1px solid #f35b5b;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    font-size: 20px;
  }
  
  .card p {
    font-size: 14px;
  }
  